
  @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,400;6..12,500;6..12,700;6..12,800;6..12,900;6..12,1000&display=swap');

  :root{
   --primary:#12bdff;
   --primary-hover:#0c8ec2;
   --dark-priamary: #1b1f24;
   --nunito:'Nunito Sans', sans-serif;
  }
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   scroll-behavior: smooth;
 }
 
body{
   font-family: var(--nunito);
}

header{
   background-color: var(--dark-priamary);
   padding:20px;
   color: white;

   display: flex;
   justify-content: space-evenly;
   align-items: center;
}

header .logo {
   color: var(--primary);
   font-weight: bold;
   letter-spacing: 2px;
   text-decoration: none;
 
 }
 

header ul{
   list-style: none;
   display:flex;
}
header ul li{
   margin-right: 20px;
}

header ul li a{
   color: white;
   text-decoration: none;
   font-weight: 600;
}
header ul li a:hover{
   color: var(--primary);
}

section.hero-section{
   background-color: var(--dark-priamary);
   display: flex;
   color: white;
   align-items: center;
   padding: 20px 120px 0 240px;
}
.hero-section__title{
   font-size: 48px;
   font-weight: 900;
}
.hero-section__title span{
   color: var(--primary);
}
.hero-section__desc{
   color: azure  ;
}

.social-icons{
   margin: 20px 0;
}
.social-icons li{
   margin-right: 15px;
  
}

ul.social-icons{
   list-style: none;
   display: flex;
}

.social-icons li a{
   text-decoration: none;
   color: white;
}
.social-icons li a i.fa-facebook:hover{
   color: #0866FF;
}
.social-icons li a i.fa-linkedin:hover{
   color: #0072b1 ;
   
}
.social-icons li a i.fa-instagram:hover{
   color:#feda75 ;
   
}
.social-icons li a i.fa-twitter:hover{
   color: #00acee;

}

.btn{
   padding: 10px 20px;
   border-radius: 3px;
   cursor: pointer;
}

/* header button*/
.btn-dark-outlined{
   background-color: var(--dark-priamary);
   border: 1px solid var(--primary);
   color: var(--primary);
   border-radius: 5px;
   font-weight: bold;
}

.btn-dark-outlined:hover{
   background-color: var(--primary);
   color: white;
}

.btn.btn-primary{
   background-color: var(--primary);
   font-weight: 600;
   color: var(--dark-priamary);
   border: none;
   border-radius: 5px;
}
.btn.btn-primary:hover{
   background-color: var(--primary-hover);
}
 
.hero-buttons button{
   margin-right: 10px;
}

